@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* header */
header#header {
    position: fixed;
    width: 100%;
    height: 75px;
    background: #ffffff;
    z-index: 2;
}
.header_wrap {
    overflow: hidden;
    margin: 17px 8%;
}
.isara_logo img {
    width: 128px;
    float: left;
    margin-right: 10px;
}
.isara_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    float: left;
    margin-top: 20px;
}
.contact_btn_pc {
    float: right;
}
.contact_btn_pc a {
    text-decoration: none;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #da5046;
    opacity: 0.8;

    display: block;
    width: 317px;
    padding: 10px 0;
    border-radius: 50px;
}
.contact_btn_pc a:hover {
    opacity: 1.0;
}
/* Top */
.top {
    width: 100%;
    height: 575px;
    background: url(../images/main.jpg);
    background-size: cover;

    text-align: center;
    display: table;
}
.top_title {
    display: table-cell;
    vertical-align: middle;
}
.top h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #333333;
}
.top h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
}
/* Contact */
.info {
    background-color: #EBB94D;
}
.info_wrap {
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.info h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    display: block;
}
.info_caution {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #c7254e;
    background-color: #ffffff;

    display: block;
    margin: 10px auto;
    border-radius: 6px;
    width: 505px;
}
a#info_btn {
    text-decoration: none;

    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;

    background-color: #DA6B64;
    border-radius: 50px;

    display: block;
    text-align: center;
    padding: 30px 0;
    margin: 50px 10%;
}
.info h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    color: #ffffff;
    display: block;
    margin: 19px 0;
}

/* intro */
.intro {
    width: 100%;
    height: 587px;
    background: url(../images/introbottom.jpg);
    background-size: cover;
}
.intro_wrap {
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.intro_box {
    position: relative;
    width: 860px;
    padding: 1.5em 0.2em;
    margin: 0 auto;
}
.intro_box:before,.intro_box:after {
    content:'';
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
}
.intro_box:before {
    border-left: solid 4px #EBB94D;
    border-top: solid 4px #EBB94D;
    top:0;
    left: 0;
}
.intro_box:after {
    border-right: solid 4px #EBB94D;
    border-bottom: solid 4px #EBB94D;
    bottom:0;
    right: 0;
}
.intro_box h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    padding-top: 10px;
}

/* about */
.about {
    position: relative;
    background-color: #FEF5E0;
}
.about_circle {
    position: absolute;
    top: -40px;
    left: -40px;
    transform: translateX(50vw);
}
.about_circle p {
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 80px;
    color: #ffffff;

    background-color: #EBB94D;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.about_wrap {
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.about_box {
    position: relative;
    width: 860px; /* TODO: min-width*/
    padding: 1.5em 0.2em;
    margin: 0 auto;
}
.about_box:before,.about_box:after {
    content:'';
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
}
.about_box:before {
    border-left: solid 4px #EBB94D;
    border-top: solid 4px #EBB94D;
    top:0;
    left: 0;
}
.about_box:after {
    border-right: solid 4px #EBB94D;
    border-bottom: solid 4px #EBB94D;
    bottom:0;
    right: 0;
}
.about_box h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    padding-top: 10px;
}
.about h2 {
    display: block;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin: 30px 0;
}
.about_content {
    display: block;
    width: 1170px;
    margin: 0 auto;
    background-color: #ffffff;
    border: solid 2px #EBB94D;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.about_content_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
}
.about_skill {
    display: inline-block;
    margin: 15px 15px;
}
.about_skill p {
    display: block;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    color: #333333;
    margin: 10px auto;
}

/* about_2 */
.about_2 {
    width: 100%;
    height: 441px;
    background: url(../images/aboutsecondbg.jpg);
    background-size: cover;
}
.about_2_wrap {
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 30px;
}
.about_2_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
}
.about_2_dis {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about_2_dis span {
    color: #EBB94D;
}
.about_2_step {
    background-color: #ffffff;
    display: inline-block;
    width: 374px;
    height: 177px;
    margin: 15px 9px;
    border-radius: 5px;
}
.about_2_step h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;

    margin: 30px auto;
    width: 314px;
    background-color: #EBB94D;
    border-radius: 5px;
}
.about_2_step h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: black;
    margin: 20px auto;
}
.about_2_step p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: black;
}
/* about_3 */
.about_3 {
    background-color: #256EA9;
    height: 144px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.about_3_wrap {
    text-align: center;
    display: block;
}
.about_3 h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}
.about_3 h1 span {
    color: #EBB94D;
}
/* learning */
.learning {
    background-color: #ffffff;
    height: 507px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.learning_wrap {
    text-align: center;
    display: block;
}
.learning_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
}
.learning_title span {
    font-size: 16px;
}
.learning_dis {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 30px;
}
.learning .container {
    max-width: 848px;
}
.learning img {
    width: 180px;
}
.learning p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin-top: 45px;
}
/* merit */
.merit {
    background-color: #FEF5E0;
    padding-top: 40px;
    padding-bottom: 30px;
}
.merit_wrap {
    text-align: center;
    display: block;
}
.merit_box {
    position: relative;
    width: 860px; /* TODO: min-width*/
    padding: 1.5em 0.2em;
    margin: 0 auto;
}
.merit_box:before,.merit_box:after {
    content:'';
    width: 40px; /* TODO: fix width and height */
    height: 40px;
    position: absolute;
    display: inline-block;
}
.merit_box:before {
    border-left: solid 4px #EBB94D;
    border-top: solid 4px #EBB94D;
    top:0;
    left: 0;
}
.merit_box:after {
    border-right: solid 4px #EBB94D;
    border-bottom: solid 4px #EBB94D;
    bottom:0;
    right: 0;
}
.merit_box h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    padding-top: 10px; /* TODO: fix padding */
}
.merit_box h1 span{
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #333333;
    padding-top: 10px; /* TODO: fix padding */
}
.merit_content_title {
    text-align: left;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #ebb94d;
}
.merit_content_dis {
    text-align: left;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.merit img {
    width: 360px;
    margin: 0 auto 10px auto;
}
.merit .container {
    margin-top: 30px;
}
.merit_support {
    display: block;
    width: 1170px;
    margin: 30px auto;
    background-color: #ffffff;
    border: solid 2px #EBB94D;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.merit_support h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #ebb94d;
}
.merit_support h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
}
.merit_support p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.merit_caution {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}

/* teacher */
.teacher {
    width: 100%;
    height: auto;
    background: url(../images/teacherbg.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
}
.teacher_wrap {
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.teacher_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
}
.teacher_dis {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 70px;
}
.teacher .container {
    width: 810px;
}
.teacher img {
    position: relative;
    z-index: 1;
}
.teacher_content {
    position: relative;
    width: 375px;
    height: 336px;
    padding: 43px;
    border: solid 3px #ffffff;
    top: -40px;
    z-index: 0;
}
.teacher_content h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}
.teacher_content h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}
.teacher_content p {
    text-align: left;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}
/* question */
.question {
    position: relative;
    background-color: #EBB94D;
}
.question_circle {
    position: absolute;
    top: 40px;
    left: -40px;
    transform: translateX(50vw);
}
.question_circle p {
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 80px;
    color: #EBB94D;

    background-color: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.question_wrap {
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.question_box {
    position: relative;
    width: 860px; /* TODO: min-width*/
    padding: 1.5em 0.2em;
    margin: 60px auto 0 auto;
}
.question_box:before,.question_box:after {
    content:'';
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
}
.question_box:before {
    border-left: solid 4px #ffffff;
    border-top: solid 4px #ffffff;
    top:0;
    left: 0;
}
.question_box:after {
    border-right: solid 4px #ffffff;
    border-bottom: solid 4px #ffffff;
    bottom:0;
    right: 0;
}
.question_box h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    padding-top: 10px;
}
.question_triangle {
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-top: 24px solid #EBB94D;
    margin: 0 auto;
}

/* answer */
.answer {
    background-color: #ffffff;
}
.answer_wrap {
    text-align: center;
    display: block;
    padding-top: 0;
    padding-bottom: 30px;
}
.answer h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #333333;
}
.answer h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.answer p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
.answer_content {
    display: block;
    width: 780px;
    height: 284px;
    margin: 0 auto;
}
.answer_content img {
    float: left;
    width: 244px;
    border: solid 3px #EBB94D;
    margin: 15px 30px 15px 0;
}
.answer_dis {
    display: block;
    padding-top: 40px;
}
.answer_dis h1 {
    text-align: left;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #777777;
}
.answer_dis p {
    display: block;
    text-align: left;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #777777;
    text-decoration: underline;
}
/* class */
.class {
    width: 100%;
    height: auto;
    background: url(../images/classbg.jpg);
    background-size: cover;
}
.class_wrap {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.class h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
}
.class h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}
.class .container {
    margin-top: 60px;
    width: 780px;
}
.class_content {
    width: 371px;
    border: solid 2px #256EA9;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 30px;
}
.class_content p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    height: 62px;
    background-color: #256EA9;
    padding-top: 15px;
}
.class_content ul {
    list-style: none;
    margin: 0;
}
.class_content li {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    height: 46px;
    width: 100%;
    padding-top: 8px;
    border-bottom: dotted 1px #777777;
}
.class_content li:last-child {
    border-bottom: none;
}
/* class under */
.class_under {
    background-color: #256EA9;
}
.class_under_wrap {
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.class_under h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}
/* flow */
.flow {
    background-color: #ffffff;
}
.flow_wrap {
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.flow h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
}
.flow_all_image {
    width: 88%;
    max-width: 1000px;
    min-width: 691px;
    margin: 30px auto;
}
.flow_box {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: #FEF5E0;
    border-radius: 10px;
    overflow: hidden;
}
.flow_line {
    width: 60vw;
    max-width: 762px;
    min-width: 465px;
}
.flow_icon {
    width: 200px;
    float: left;
}
.flow_icon img {
    display: block;
    margin: 20px auto;
}
.flow_icon p {
    display: block;
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #333333;
}
.flow_box_dis {
    width: 55vw;
    max-width: 900px;
    display: inline-block;
    text-align: left;
}
.flow_box_dis h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin: 30px auto;
}
.flow_box_dis p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
@media screen and (max-width: 768px) {
    .flow_content {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .flow_box_dis h1 {
        font-size: 14px;
        line-height: 22px;
    }
    .flow_box_dis p {
        font-size: 12px;
        line-height: 19px;
    }
}
/* bangkok */
.bangkok {
    width: 100%;
    height: 496px;
    background: url(../images/bangkokbg.jpg);
    background-size: cover;
}
.bangkok_wrap {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-top: 100px;
}
.bangkok h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
}
.bangkok h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}
.bangkok p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}
.bangkok ul {
    list-style: none;
}
.bangkok ul li {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}
.bangkok ul li:before {
    content: "・";
}
@media screen and (max-width: 768px) {
    .bangkok {
        height: 338px;
        background: url(../images/bangkokbgsp.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .bangkok_wrap {
        padding-top: 30px;
    }
    .bangkok h1 {
        text-align: center;
    }
    .bangkok p {
        font-size: 12px;
        line-height: 19px;
        margin: 20px auto;
    }
    .bangkok ul li {
        font-size: 12px;
        line-height: 19px;
    }
    .bangkok h2 {
        font-size: 15px;
        line-height: 24px;
    }
}
/* special */
.special {
    background-color: #F7C23C;
}
.special_wrap {
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 30px;
}
.special h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
}
.special h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin: 50px auto;
}
.special h2 span {
    color: #ffffff;
}
.special h3 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #333333;
    background-color: #F7C23C;

    position: absolute;
    z-index: 1;
    width: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.special .container {
    border: solid 3px #ffffff;
    position: relative;
    z-index: 0;
    margin-top: 90px;
}
.special_circle {
    display: inline-block;
    margin: 50px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ffffff;
}
.special_circle h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #EBB94D;

    display: block;
    width: 220px;
    margin: 50px auto 10px auto;
}
.special_circle p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #333333;

    display: inline-block;
    width: 220px;
    margin: 0 auto;
}
@media screen and (max-width: 992px) {
    .special .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .special_circle {
        margin: 15px auto;
    }
}
/* special detail */
.special_detail {
    background: url(../images/specialdetail.jpg);
    width: 100%;
    background-size: cover;
}
.special_detail_wrap {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.special_detail h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;
}
.special_detail p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}
.special_detail_box {
    position: relative;
    width: 860px; /* TODO: min-width*/
    padding: 1.5em 0.2em;
    margin: 0 auto;
}
.special_detail_box:before,.special_detail_box:after {
    content:'';
    width: 40px; /* TODO: fix width and height */
    height: 40px;
    position: absolute;
    display: inline-block;
}
.special_detail_box:before {
    border-left: solid 4px #ffffff;
    border-top: solid 4px #ffffff;
    top:0;
    left: 0;
}
.special_detail_box:after {
    border-right: solid 4px #ffffff;
    border-bottom: solid 4px #ffffff;
    bottom:0;
    right: 0;
}
.special_detail_box h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    padding-top: 10px;
}
/* message */
.message {
    background-color: #ffffff;
}
.message_wrap {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.message h1 {
    display: block;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
}
.message h2 {
    display: block;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin: 45px auto;
}
.message_content {
    width: 890px;
    margin: 30px auto;
}
.message_content img {
    display: block;
    float: left;
    width: 192px;
    height: 100%;
    margin: 0 15px;
}
.message_dis {
    display: inline-block;
    width: 667px;
}
.message_dis p {
    text-align: left;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
.message_dis ul {
    list-style: none;
    text-align: left;
}
.message_dis ul li {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
.message_dis ul li:before {
    content: "・";
}
/* contact */
.contact {
    background-color: #EBB94D;
}
.contact_wrap {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
}
.contact h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.contact input[type="text"] {
    display: block;
    width: 60vw;
    height: 55px;
    margin: 30px auto;
    border-radius: 5px;
    border: none;
}
.contact input[type="email"] {
    display: block;
    width: 60vw;
    height: 55px;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
}
.contact textarea {
    display: block;
    width: 60vw;
    height: 100px;
    margin: 30px auto;
    border: none;
    border-radius: 5px;

}
.contact input[type="submit"] {
    display: block;
    width: 60vw;
    height: 55px;
    margin: 40px auto;
    border: none;
    border-radius: 50px;
    background-color: #DA6B64;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 24px;
    color: #ffffff;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #777777;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #777777;
}
::placeholder{ /* Others */
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #777777;
}

/* faq */
.faq {
    background-color: #ffffff;
}
.faq_wrap {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.faq h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
}
.faq_accordion {
    margin: 30px auto;
    width: 80vw;
    text-align: left;
    position: relative;
}
.faq_accordion button {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}
.faq_accordion button:hover {
    color: #000000;
}
.faq_accordion p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
#faq_accordion .card-header button i {
    color: #256EA9;
}
#faq_accordion .card-header button[data-toggle="collapse"].collapsed:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 32px;
    color: #EEEEEE;
    content: "\f107";/* angle-down */
    position: absolute;
    top: 40px;
    right: 20px;
    margin-top: -12px;
}
#faq_accordion .card-header button[data-toggle="collapse"]:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 32px;
    color: #EEEEEE;
    content: "\f106";/* angle-up */
    position: absolute;
    top: 40px;
    right: 20px;
    margin-top: -12px;
}
/* footer */
footer#footer {
    background-color: #ECECEC;
}
.footer_wrap {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
footer .copyright{
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    color: #333333;
}
/* sns link */
.sns_link_list {
    list-style: none;
}
.sns_link_list li {
    display: inline;
    line-height: 11px;
}