@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* header */
header#header {
    position: fixed;
    width: 100%;
    background: #ffffff;
    z-index: 1;
}
.header_wrap {
    overflow: hidden;
    margin: 17px 8%;
}
.isara_logo img {
    width: 128px;
    float: left;
    margin-right: 10px;
}
.isara_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    float: left;
    margin-top: 20px;
}
.contact_btn_pc {
    float: right;
}
.contact_btn_pc a {
    text-decoration: none;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #da5046;
    opacity: 0.8;

    display: block;
    width: 317px;
    padding: 10px 0;
    border-radius: 50px;
}
.contact_btn_pc a:hover {
    opacity: 1.0;
}
/* Top */
.top {
    width: 100%;
    height: 500px;
    background: url(../images/main.jpg);
    background-size: cover;
}
/* Contact */
.info {
    background-color: #EBB94D;
}
.info_wrap {
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.info h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    display: block;
}
.info_caution {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #c7254e;
    background-color: #ffffff;

    display: block;
    margin: 10px auto;
    border-radius: 6px;
    width: 505px;
}
a#info_btn {
    text-decoration: none;

    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;

    background-color: #DA6B64;
    border-radius: 50px;

    display: block;
    text-align: center;
    padding: 30px 0;
    margin: 50px 10%;
}
.info h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    color: #ffffff;
    display: block;
    margin: 19px 0;
}

/* intro */
.intro {
    width: 100%;
    height: 587px;
    background: url(../images/introbottom.jpg);
    background-size: cover;
}
.intro_wrap {
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.intro_box {
    position: relative;
    width: 860px;
    padding: 1.5em 0.2em;
    margin: 0 auto;
}
.intro_box:before,.intro_box:after {
    content:'';
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
}
.intro_box:before {
    border-left: solid 4px #EBB94D;
    border-top: solid 4px #EBB94D;
    top:0;
    left: 0;
}
.intro_box:after {
    border-right: solid 4px #EBB94D;
    border-bottom: solid 4px #EBB94D;
    bottom:0;
    right: 0;
}
.intro_box h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    padding-top: 10px;
}

/* about */
.about {
    position: relative;
    background-color: #FEF5E0;
}
.about_circle {
    position: absolute;
    top: -40px;
    left: -40px;
    transform: translateX(50vw);
}
.about_circle p {
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 80px;
    color: #ffffff;

    background-color: #EBB94D;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.about_wrap {
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.about_box {
    position: relative;
    width: 860px; /* TODO: min-width*/
    padding: 1.5em 0.2em;
    margin: 0 auto;
}
.about_box:before,.about_box:after {
    content:'';
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
}
.about_box:before {
    border-left: solid 4px #EBB94D;
    border-top: solid 4px #EBB94D;
    top:0;
    left: 0;
}
.about_box:after {
    border-right: solid 4px #EBB94D;
    border-bottom: solid 4px #EBB94D;
    bottom:0;
    right: 0;
}
.about_box h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    padding-top: 10px;
}
.about h2 {
    display: block;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin: 30px 0;
}
.about_content {
    display: block;
    width: 1170px;
    margin: 0 auto;
    background-color: #ffffff;
    border: solid 2px #EBB94D;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.about_content_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
}
.about_skill {
    display: inline-block;
    margin: 15px 15px;
}
.about_skill p {
    display: block;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    color: #333333;
    margin: 10px auto;
}

/* about_2 */
.about_2 {
    width: 100%;
    height: 441px;
    background: url(../images/aboutsecondbg.jpg);
    background-size: cover;
}
.about_2_wrap {
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 30px;
}
.about_2_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
}
.about_2_dis {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about_2_dis span {
    color: #EBB94D;
}
.about_2_step {
    background-color: #ffffff;
    display: inline-block;
    width: 374px;
    height: 177px;
    margin: 15px 9px;
    border-radius: 5px;
}
.about_2_step h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;

    margin: 30px auto;
    width: 314px;
    background-color: #EBB94D;
    border-radius: 5px;
}
.about_2_step h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: black;
    margin: 20px auto;
}
.about_2_step p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: black;
}
/* about_3 */
.about_3 {
    background-color: #256EA9;
    height: 144px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.about_3_wrap {
    text-align: center;
    display: block;
}
.about_3 h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}
.about_3 h1 span {
    color: #EBB94D;
}
/* learning */
.learning {
    background-color: #ffffff;
    height: 507px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.learning_wrap {
    text-align: center;
    display: block;
}
.learning_title {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
}
.learning_title span {
    font-size: 16px;
}
.learning_dis {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 30px;
}
.learning .container {
    max-width: 848px;
}
.learning img {
    width: 180px;
}
.learning p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin-top: 45px;
}
/* merit */
.merit {
    background-color: #FEF5E0;
    padding-top: 40px;
    padding-bottom: 30px;
    
}
.merit_wrap {
    text-align: center;
    display: block;
}
.merit_box {
    position: relative;
    width: 860px; /* TODO: min-width*/
    padding: 1.5em 0.2em;
    margin: 0 auto;
}
.merit_box:before,.merit_box:after {
    content:'';
    width: 40px; /* TODO: fix width and height */
    height: 40px;
    position: absolute;
    display: inline-block;
}
.merit_box:before {
    border-left: solid 4px #EBB94D;
    border-top: solid 4px #EBB94D;
    top:0;
    left: 0;
}
.merit_box:after {
    border-right: solid 4px #EBB94D;
    border-bottom: solid 4px #EBB94D;
    bottom:0;
    right: 0;
}
.merit_box h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    padding-top: 10px; /* TODO: fix padding */
}
.merit_box h1 span{
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #333333;
    padding-top: 10px; /* TODO: fix padding */
}
.merit_content_title {
    text-align: left;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #ebb94d;
}
.merit_content_dis {
    text-align: left;
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.merit img {
    width: 360px;
    margin: 0 auto 10px auto;
}
.merit .container {
    margin-top: 30px;
}
.merit_support {
    display: block;
    width: 1170px;
    margin: 30px auto;
    background-color: #ffffff;
    border: solid 2px #EBB94D;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.merit_support h1 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #ebb94d;
}
.merit_support h2 {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
}
.merit_support p {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.merit_caution {
    font-family: "Hiragino Kaku Gothic Pro", Meirio, Osaka, "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
/* footer */
.footer_wrap {
    clear: both;
    text-align: center;
}